@mixin tablet{
    @media (max-width: 600px){
    .colum{
        flex: 70%;
    } 
  }
}
@mixin destock {
    @media screen and (min-width: 1024px){
        @content;    
    body {
        background-color: aliceblue
    }
    main{
        img{
        justify-content: center;
        margin: 10px;
        } 
        .cards-grapper{
        column-gap: 10px;
        justify-content: center;
        }
        p{
        margin: 10px;
        text-align: justify;
        }
        h1{
        margin: 10px;} 
        h2{
        background-color:antiquewhite;
        margin: 20px;
        text-align: center;
        } 
        h3{
        text-align: center;}
        
        div img {
        height: 100%;
        float: left;}
        
        .maqueta-main{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:10%, repeat(7, 1fr);
            grid-column-gap: 10px;
            grid-row-gap: 6px; }

        .fila1 { grid-area: 1 / 1 / 2 / 4; }
        .fila2 { grid-area: 2 / 2 / 3 / 3; }
        .fila3 { grid-area: 3 / 2 / 4 / 3; }
        .fila4 { grid-area: 2 / 1 / 4 / 2; }
        .fila5 { grid-area: 4 / 2 / 5 / 3; }
        .fila6 { grid-area: 5 / 2 / 6 / 3; }
        .fila7 { grid-area: 4 / 3 / 6 / 4; }
        .fila8 { grid-area: 6 / 1 / 7 / 2; }
        .fila9 { grid-area: 7 / 1 / 8 / 2; }
        .fila10 { grid-area: 6 / 2 / 8 / 3; }

        .parent-main{
            display: grid;
            grid-template-columns: repeat(3, 33%);
            grid-template-rows:20%, repeat(7, 1fr) 10%;
            grid-column-gap: 8px;
            grid-row-gap: 5px;}

        .div1 { grid-area: 1 / 1 / 2 / 4; }
        .div2 { grid-area: 2 / 1 / 4 / 3; }
        .div3 { grid-area: 2 / 3 / 4 / 4; }
        .div4 { grid-area: 4 / 1 / 5 / 4; }
        .div5 { grid-area: 5 / 1 / 6 / 2; }
        .div6 { grid-area: 6 / 1 / 7 / 2; }
        .div7 { grid-area: 7 / 1 / 8 / 2; }
        .div8 { grid-area: 5 / 2 / 6 / 3; }
        .div9 { grid-area: 6 / 2 / 7 / 3; }
        .div10 { grid-area: 7 / 2 / 8 / 3; }
        .div11 { grid-area: 5 / 3 / 6 / 4; }
        .div12 { grid-area: 6 / 3 / 7 / 4; }
        .div13 { grid-area: 7 / 3 / 8 / 4; }  

        .contenedor2-main{
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-rows:0% 25% 3% 25% 3% 25% 0%;
            grid-column-gap: 10px;
            grid-row-gap: 10px;
        }
        .img1 { grid-area: 1 / 1 / 2 / 4; }
        .img3 { grid-area: 3 / 1 / 4 / 2; }
        .img4 { grid-area: 4 / 1 / 5 / 2; }
        .img5 { grid-area: 3 / 2 / 4 / 3; }
        .img6 { grid-area: 4 / 2 / 5 / 3; }
        .img7 { grid-area: 3 / 3 / 4 / 4; }
        .img8 { grid-area: 4 / 3 / 5 / 4; }
        .img9 { grid-area: 5 / 1 / 6 / 2; }
        .img10 { grid-area: 6 / 1 / 7 / 2; }
        .img11 { grid-area: 5 / 2 / 6 / 3; }
        .img12 { grid-area: 6 / 2 / 7 / 3; }
        .img13 { grid-area: 5 / 3 / 6 / 4; }
        .img14 { grid-area: 6 / 3 / 7 / 4; }

        .don-main{
            display: grid;
            grid-template-columns: repeat(2, 1fr);
            grid-template-rows:15%, repeat(5, 1fr);
            grid-column-gap: 6px;
            grid-row-gap: 6px;
            align-content: center;
        }
        .tex1 { grid-area: 1 / 1 / 2 / 3; }
        .tex2 { grid-area: 2 / 1 / 3 / 3; }
        .tex3 { grid-area: 3 / 1 / 4 / 2; }
        .tex4 { grid-area: 4 / 1 / 5 / 2; }
        .tex5 { grid-area: 3 / 2 / 4 / 3; }
        .tex6 { grid-area: 4 / 2 / 5 / 3; }
        .tex7 { grid-area: 5 / 1 / 6 / 3; }
        }
    }
}