body{
   background-color: aliceblue;
}
header {
   background-image: linear-gradient(to left, #ffc88a, #f8ecdf99);
   text-align: right;
   justify-content: center;
      img {
      width: 100px;
      margin: 5px;
   }
}
main {
   margin: 0 30px;
   display: flex;
   
   img {
      width: 100%;
      height: 100%;
      object-fit: cover;
   }
   h1 {
      margin-top: 10px;
      text-align: center;
      color: chocolate;
      font-size: xx-large;
      text-transform: uppercase;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   }
   h2{
      background-color: chocolate;
      margin: 20px;
      padding: 10px;
      color: aliceblue;
   }

   a {
      text-transform: uppercase;
      color: black;
      font-size: 35px;
      font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
      text-decoration: none;
      padding: 3px;
   }
   p {text-align:left;
      margin-bottom: 5px;
      padding: 10px;
      color:#1d1d1d;
      font-size: 20px;
     }
   }
footer {
   background-color: chocolate;
   display: flex;
   justify-content: center;
   align-items: center;
   
   img {
      margin-top: 5px;
      padding: 5px;
   }
   ul{
      list-style: none;
      flex-direction: row;
   }
   a{
      text-decoration: none;
      color:aliceblue;
   }
.jpg{
   width: 35px;
}
}

@import "utilidades/es.nosotros";
@import "utilidades/es.home";
@import "utilidades/es.adopta";
@import "utilidades/productos";
@import "utilidades/mediaquieris";
@import "utilidades/es.dona";


