main{

h1{
    margin: 20px;
}    
.maqueta {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows:10%, repeat(7, 1fr);
    grid-column-gap: 30px;
    grid-row-gap: 100px; }
    
    .fila1 { grid-area: 1 / 1 / 2 / 4;}
    .fila2 { grid-area: 2 / 2 / 3 / 3 ; 
        background-color:bisque;
        height: 50px;}
    .fila3 { grid-area: 3 / 2 / 4 / 4;}
    .fila4 { grid-area: 2 / 1 / 4 / 2;}
    .fila5 { grid-area: 4 / 2 / 5 / 3;
        background-color: bisque;
        height: 50px;}
    .fila6 { grid-area: 5 / 1 / 6 / 3;}
    .fila7 { grid-area: 4 / 3 / 6 / 4;}
    .fila8 { grid-area: 6 / 1 / 7 / 2;
        background-color: bisque;
        height: 50px;}
    .fila9 { grid-area: 7 / 1 / 8 / 2;}
    .fila10 { grid-area: 6 / 2 / 8 / 3;}

a{ 
    font-size: 35px;
    text-align: center;}

}
footer{
    height: 10%;
}